<div class="open-accessibility-cursor-workaround"></div>
<div class="open-accessibility open-accessibility-collapsed">
    <div class="open-accessibility-container">

        <div class="open-accessibility-expand-button">
            @@include('../svgs/expand.svg')
        </div>

        <div class="open-accessibility-menu">
            <div class="open-accessibility-close-button">
                @@include('../svgs/close.svg')                
            </div>

            <div class="open-accessibility-menu-button open-accessibility-zoom-out-button">
                @@include('../svgs/zoom-out.svg')
                <span data-lang="zoom-out">Zoom Out</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-zoom-in-button">
                @@include('../svgs/zoom-in.svg')
                <span data-lang="zoom-in">Zoom In</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-invert-button">
                @@include('../svgs/invert.svg')                
                <span data-lang="invert">Invert</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-cursor-button">
                @@include('../svgs/cursor.svg')
                <span data-lang="bigger-cursor">In-Large</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-brightness-button">
                @@include('../svgs/brightness.svg')                
                <span data-lang="brightness">Brightness</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-contrast-button">
                @@include('../svgs/contrast.svg')
                <span data-lang="contrast">Contrast</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-monochrome-button">
                @@include('../svgs/monochrome.svg')
                <span data-lang="grayscale">Grayscale</span>
            </div>

            <div class="open-accessibility-menu-button open-accessibility-reset-button">
                @@include('../svgs/revert.svg')
                <span data-lang="reset">Reset</span>
            </div>


            <div class="open-accessibility-menu-footer">
                Made With Lot of 💗 by <a href="https://github.com/Flying-Minds/Web-Accessasibility/" target="_blank">F-Accesibility</a>
            </div>


        </div>


    </div>
</div>
